<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087587490413-uel00co9nn2l1qtbfjpb3aogfomgm30u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087587490413-uel00co9nn2l1qtbfjpb3aogfomgm30u</string>
	<key>API_KEY</key>
	<string>AIzaSyCdZ4uVvkwdctYRaAMa5N95KO8CMqYsZ9A</string>
	<key>GCM_SENDER_ID</key>
	<string>1087587490413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JosephCuestaAcevedo.NTUCTR</string>
	<key>PROJECT_ID</key>
	<string>capturetheroom-ntu</string>
	<key>STORAGE_BUCKET</key>
	<string>capturetheroom-ntu.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087587490413:ios:466f7e646485b8733b3d64</string>
	<key>AUTH_DOMAIN</key>
	<string>capturetheroom-ntu.firebaseapp.com</string>
</dict>
</plist>
